<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Oops</title>
    <link rel="icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/error.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
    />
  </head>
  <body>
    <div class="error">
      <h1><%= error.status %></h1>
      <p><%= error.message %></p>
      <form class="return" action="/">
        <input type="submit" value="Return to Pokedex" />
      </form>
    </div>
  </body>
</html>
