<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" id="favicon" href="#" />
    <title>Pokemon</title>
    <link rel="stylesheet" href="/css/stats.css" />
    <link rel="stylesheet" href="/css/types.css" />
    <link rel="stylesheet" href="/css/pokemon.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet" />
    <script type="text/javascript" src="/javascript/search.js" defer></script>
    <script defer>
      const pokemon = '<%= pokemon %>';
    </script>
    <div class="container">
      <div id="card"></div>
      <div id="stats"></div>
    </div>
  </head>
  <body>
    <div class="return"><a href="/">Return</a></div>
  </body>
</html>
