<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
  </head>
  <body>
    <form action="/pokemon" method="post">
      <input type="text" name="input" placeholder="input a name" />
      <button name="submit" value="submit" type="submit">Submit</button>
    </form>
  </body>
</html>
