/* page styling */
html {
  height: 101%;
}
body {
  overflow: auto;
  padding: 0;
  margin: 0;
  background-color: #fae3d9;
  font-family: 'Source Sans Pro', sans-serif;
}
.top {
  display: flex;
  justify-content: center;
  background-color: #a8d8ea;
}
.inside {
  width: 85%;
  padding: 1%;
  text-align: center;
  font-size: 6vh;
}
@media screen and (max-width: 720px) {
  #container {
    overflow: scroll;
  }
}
/* search styling */
.search {
  display: flex;
  padding: 1vw 0;
  align-items: center;
  justify-content: center;
  background-color: #e4f9f5;
}
.search ::placeholder {
  color: #393e46;
}
#field {
  width: 100%;
  height: 1vw;
  caret-color: #71c9ce;
  border: solid #393e46 3px;
  background-color: rgba (249, 247, 247, 0);
  padding: 0.5em 0 0.5em 1em;
  font-size: 1.5em;
  border-radius: 10px;
}
#items {
  z-index: 2;
  width: 100%;
  display: none;
  border: solid #ffe2e2 3px;
  padding-left: 1em;
  font-size: 1.5em;
  position: absolute;
  border-radius: 10px;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px #a6e3e9;
  justify-content: space-evenly;
}
#field:focus {
  outline: none;
  border-color: #71c9ce;
  box-shadow: 0 0 10px #a6e3e9;
}
.autocomplete {
  width: 45%;
  margin-right: 2em;
  position: relative;
}
.suggestion {
  margin: 0.25em 0;
  color: #393e46;
  text-decoration: none;
}
.suggestion:hover {
  text-decoration: underline;
}
.button {
  height: 100%;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
}
.button:hover {
  color: #71c9ce;
}
#container {
  padding: 3% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 1rem;
}
/* card styling */
.card {
  width: 18%;
  text-align: center;
  border-radius: 5px;
  background: #e4f9f5;
  transition: 0.25s ease-in-out;
}
.card:hover {
  transform: scale(1.15);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.id {
  display: flex;
  font-size: 1.75vw;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  justify-content: center;
  background: #cbf1f5;
}
.image {
  max-width: 100%;
  max-height: 100%;
}
.bottom {
  padding: 1%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #cbf1f5;
}
.name {
  padding: 1%;
  margin: 0;
  font-size: 2.25vw;
  text-align: center;
}
.types {
  display: flex;
  padding: 1%;
  text-align: center;
  justify-content: space-evenly;
}
.types p {
  width: 40%;
  padding: 0.8%;
  margin: 0.8%;
  font-size: 1.5vw;
  border: inherit solid;
  border-radius: 6.5px;
}
noscript div {
  text-align: center;
  font-size: 3em;
}
