/* page styling */
body {
  padding: 0;
  margin: 0;
  background-color: #d6e6f2;
  font-family: 'Source Sans Pro', sans-serif;
}
.container {
  padding: 3% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  height: 100%;
}
.bottom {
  background-color: #cbf1f5;
  padding: 1%;
}
/* stats styling */
.attributes {
  border-radius: 0 0 5px 5px;
  font-size: 1.5em;
  color: #71c9ce;
  background-color: #cbf1f5;
  text-align: center;
}
#stats {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  background-color: #71c9ce;
}
.stat {
  display: flex;
  flex: 1 0 50%;
  padding-left: 5px;
  align-items: center;
  background-color: #cbf1f5;
}
.statName {
  width: 23%;
  padding: 1px;
  font-size: 1.3em;
  border-radius: 2px;
  margin-right: 20px;
  text-align: center;
}
.bar {
  text-align: center;
  width: calc(var(--width) / 255 * 75%);
  height: 1.3em;
  border-radius: 2px;
  padding: 3px;
}
#card {
  display: inline-block;
  border-radius: 5px;
  background: #e4f9f5;
  background-size: cover;
  background-repeat: no-repeat;
}
#image {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
#image:hover {
  cursor: pointer;
}
.name {
  padding: 1%;
  margin: 0;
  font-size: 150%;
  text-align: center;
  font-weight: 600;
}
.types {
  text-align: center;
  display: flex;
  padding: 1%;
  justify-content: space-evenly;
}
.types p {
  width: 38%;
  border: inherit solid;
  border-radius: 5px;
  padding: 0.1em;
  margin: 0.1em;
  font-size: 125%;
  height: 125%;
}
/* return styling */
.return {
  text-align: center;
}
.return a {
  width: 15%;
  border: 0px;
  border-radius: 5px;
  padding: 2vh;
  display: block;
  margin: 1vh auto;
  font-size: 4vw;
  color: #000000;
  text-decoration: none;
  background-color: #a6e3e9;
}
.return a:hover {
  background-color: #cbf1f5;
}
